* { 
    margin:0; 
    padding:0; 
}
body {
	  background:  url('/images/background.png') repeat  #FAFAFA;
	}
      div{
          display: block;
      }
	#top_bar{
		height: 50px;
        background: #94d500;
        width: 100%;
            position: absolute;
    top: 0;
    left: 0;
	}
      #menu_icon{
        margin-top: 12.6px;
          margin-bottom: 12.6px;
          margin-left: 12.6px;
      }
      #top_bar_height{
          height:60px;
      }
      .sub_box{
          margin: 0 auto;
     width: 100%; 
      }
      h1{
          font-weight: 900;
         text-align: center;
        font-family: "Poppins", sans-serif;
          font-size: 2.1em;
      }
      h2{
          font-size: 1.6em;
          font-weight: 900 !important;
      }
     
      #iD_Tech_Logo{
          
          width: 256px;
          margin-left: 76px;
          margin-right: 76px;
          margin-bottom: 0px;
      }
      .link_button{
          background-color: #94d500;
          color: white;
          width: 100%;
          padding-left: 5px;
          font-family: "Poppins", sans-serif;
          box-shadow: 0 0 8px rgba(0,0,0,0.2);
          
      }
form{
    text-align: center;
}
      .schedule_button{
          background-color: #ffffff;
          color: black;
          width: 100%;
          padding-left: 5px;
          font-family: "Poppins", sans-serif;
      }
     .link_button a {
         color: white;
      }
      .link_button p {
          color: white;
      }
      .h2_button{
         padding-left: 20px;
          padding-right: 20px;
          padding-top: 20px;
          padding-bottom: 10px;
      }
      #container{
          
          margin-left: auto;
          margin-right: auto;
          padding-left: 20px;
          padding-right: 20px;
      }
      .p_button{
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 20px;
          font-size: 15px;
      }
      .panel-title{
          color: white;
          
      }
      .panel-heading{
          background-color: #94d500 !important;
          border-radius: 0 !important;
      }
      .panel{
          border: none !important;
          box-shadow: 0 0 8px rgba(0,0,0,0.2);
          border-radius: 0 !important;
      }
      .panel-group{
          border-radius: 0 !important;
      }
      .fa{
          font-size:20px;
      }
#Instructor_Name{
    float:right;
}
#Student_Name{
    float:right;
}
#footer{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    height: 50px;
        background: #94d500;
        width: 100%;
}
